<!-- footer part start-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-md-3 col-lg-3">
                <div class="single-footer-widget footer_1">
                    <h4>About Us</h4>
                    <p>Despite the high price of the food and the not so attentive waiters ́ service, I had a pleasant dining experience with food of the most exquisite flavors. For this reason I highly recommend going to the Open House restaurant.
                        .</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-md-2 col-lg-3">
                <div class="single-footer-widget footer_2">
                   
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
                <div class="single-footer-widget footer_2">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <p><span> Address :</span>bardo </p>
                        <p><span> Phone :</span> 2222222222222</p>
                        <p><span> Email : </span>mohamedaziz@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-md-4 col-lg-3">
                <div class="single-footer-widget footer_3">
                    <h4>Newsletter</h4>
                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping seas</p>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Email Address'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                                <div class="input-group-append">
                                    <button class="btn" type="button"><i class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</footer>
<!-- footer part end-->
