<!--::regervation_part start::-->
<section class="regervation_part section_padding " style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">

                    <h2>Dashboard Admin</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn_4" (click)="downloadpdf()">Download all users</button>
            
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Admins</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Chefs</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Clients</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="color: white;">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Tel</th>
                            <th>Actions</th>
                            
                        </tr>
                        <tr *ngFor="let a of users">
                            <ng-container *ngIf="a.role=== 'admin'">
                                <td>{{a.firstName | uppercase}}</td>
                                <td>{{a.lastName}}</td>
                                <td>{{a.email}}</td>
                                <td>{{a.tel}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"(click)="displayUser(a._id)">Display</button>
                                    <button type="button" class="btn btn-warning" (click)="editUser(a._id)">Edit</button>
                                    <button type="button" class="btn btn-danger"(click)="deleteUser(a._id)">Delete</button>
    
    
                                </td>
                            </ng-container>
                           
                        </tr>
                      </table>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="color: white;">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Tel</th>
                            <th>Speciality</th>
                            <th>Experience</th>
                            <th>Actions</th>
                            
                        </tr>
                        <tr *ngFor="let a of users">
                            <ng-container *ngIf="a.role=== 'cheff'">
                                <td>{{a.firstName | espace }}</td>
                                <td>{{a.lastName}}</td>
                                <td>{{a.email}}</td>
                                <td>{{a.tel}}</td>
                                <td [ngClass]="{'red':a.speciality=='TN','green':a.speciality=='IT'}">{{a.speciality}}</td>
                                <td >{{a.Experience}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"(click)="displayUser(a._id)">Display</button>
                                    <button type="button" class="btn btn-warning" (click)="editchef(a._id)">Edit</button>
                                    <button type="button" class="btn btn-danger"(click)="deleteUser(a._id)">Delete</button>
    
                                </td>
                            </ng-container>

                           
                            

                        </tr>
                      </table>
                    

                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" style="color: white;">
                    <table class="table table-dark table-striped">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Tel</th>
                            
                            
                        </tr>
                        <tr *ngFor="let c of users">
                            <ng-container *ngIf="c.role=== 'client'">
                                <td>{{c.firstName}}</td>
                                <td>{{c.lastName}}</td>
                                <td>{{c.email}}</td>
                                <td>{{c.tel}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary"(click)="displayUser(c._id)">Display</button>
                                    <button type="button" class="btn btn-warning"  (click)="editclient(c._id)" >Edit</button>
                                    <button type="button" class="btn btn-danger"(click)="deleteUser(c._id)">Delete</button>
    
                                </td>
                            </ng-container>
                           
                            
                            

                        </tr>
                      </table>
                   
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--::regervation_part end::-->
