<div class="counter_background" style="background-image:url(assets/images/addds.jpg)"></div>

    <div class="container text-center">
        <div class="row">
            <div class=" col-6">
                <div class="card " style="width: 18rem;" style="margin-block-end: 30px; margin-top: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Go to Dashboard Admin</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        
                        
                        <a  class="btn btn-primary" (click)="Dashboardadmin()">Read More</a>
                    </div>
                </div>


            </div>
            <div class=" col-6">
                <div class="card  " style="width: 18rem;" style="margin-block-end: 30px; margin-top: 150px;" >
                    <div class="card-body">
                        <h5 class="card-title">Add Admin</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a  class="btn btn-primary" (click)="admin()">Read More</a>
                    </div>
                </div>


            </div>


        </div>
        <div class="row">
            <div class=" col-6">
                <div class="card " style="width: 18rem;" style="margin-block-end: 30px; margin-top: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Add Chefs</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a  class="btn btn-primary" (click)="Dashboardemploye()">Read More</a>
                    </div>
                </div>


            </div>
            
            <div class=" col-6">
                <div class="card " style="width: 18rem;" style="margin-block-end: 30px; margin-top: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Back To Home</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a  class="btn btn-primary" (click)="home()">Read More</a>
                    </div>
                </div>


            </div>

        </div>


    </div>




