<!--::chefs_part start::-->
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experience Chefs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4" *ngFor="let c of chefs">
               <app-chef [childchef] = "c" (newchefs)="update($event)"></app-chef>
            </div>
           
           
        </div>
    </div>
</section>
<!--::chefs_part end::-->
