<div class="single_blog_item"style="margin-top: 100px;">
    <div class="single_blog_img">
        <img src="assets/img/team/chefs_1.png" alt=""style="margin-left: 500px;">
    </div>
    <div class="single_blog_text text-center">
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <p>{{user.email}}</p>
        <p>{{user.tel}}</p>
        
        <div class="social_icon">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
        </div>
    </div>
</div>
